/* layout */

body {
  margin: 0 auto;
  padding-top: 15px;
}

.row {
display: flex;
flex-direction: row;
width: 100%;
}

.col {
  flex: 1;
padding: 15px;
}

.row > .col:first-child {
max-width: 400px;
}

.row > .col:last-child {
background: #fafafa;
}

.flex {
display: flex;
}

.wrap {
flex-wrap: wrap;
}

.column {
flex-direction: column;
}

.align-center {
align-items: center;
}

.justify-center {
justify-content: center;
}

.justify-space-between {
justify-content: space-between;
}

.text-center {
text-align: center;
}

@media all and (max-width: 767px) {
  .row {
      flex-direction: column;
  }

  .row > .col:first-child {
      border-right: none;
      max-width: none;
  }
}

/* apps */

.authors-list {
color: #9d9d9d;
font-weight: bold;
}

.ratings-list {
padding: 10px 0;
}

.card-title {
white-space: normal;
margin-top: 4px;
}

.css-149suws-Card {
  margin: 20px !important;
}

.css-197a8cc-Image{
  background-size: cover !important;
}
.css-12v9vzr-container a{
  max-width: 1104px !important;
  min-width: 300px !important;
  width: 320px !important;
  height: auto;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.item-price {
  align-self:flex-end;
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: bold;
}